.carousel-item img {
    height: 500px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner */
    width: 100%;
    
}

.descrição {
    padding: 40px; /* Adiciona mais espaçamento interno ao redor do texto */
    margin: 40px 0; /* Adiciona mais espaçamento superior e inferior */
    background-color: #dddddd; /* Adiciona um fundo para destacar a seção */
    border-radius: 30px; /* Adiciona cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
    width: 90%; /* Ajusta a largura da caixa */
    max-width: 1200px; /* Define a largura máxima da caixa */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

.descrição p {
    margin-bottom: 20px; /* Adiciona espaçamento entre os parágrafos */
}

.redessociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.redessociais img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.redessociais img:hover {
    transform: scale(1.2);
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.btn {
    width: 100%; /* Garante que o botão ocupe toda a largura */
}
