body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; /* Adicionando !important para garantir que sobrescreva outros estilos */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: auto;
    width: auto;
    color: #333333
}

header {
    background-color: #dddddd;
    color: #ffffff;
    padding: 2.5%;
    text-align: center;
    font-size: 22px;
    margin: auto;
}

.sub {
    background-color: #dddddd;
    color: #D94436;
    text-align: center;
    font-size: 22px;
    margin: auto;
}

.fotoicone img {
    width: 16%;
    height: auto;
    max-width: 1000%;
    position: absolute;
    top: -20px;
    right: 83%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 0%;
    margin: 0%;
    color: #ffffff;
}

nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: inherit;
    margin: 0%;
}

nav a:hover {
    background-color: #2c3e50;
}

.container {
    margin-top: 1%;
}
.card {
    border: 1px solid #2c3e50;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 0px;
    top: -20px;
    width: 90%;
}

.card:hover {
    transform: scale(1.05);
}

.card-text {
    font-size: 14px;
    line-height: 150%;
    color: #555555
}

.card a {
    text-decoration: none; 
    color: inherit; 
}
.card img {
    width: 100%;
    height: 300px; /* Altura fixa */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço mantendo a proporção */
}
footer {
    background-color: #343a40;
    color: #dddddd;
    text-align: center;
    padding: 10px 10px 20px;
    position: static;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redessociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.redessociais img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.redessociais img:hover {
    transform: scale(1.2);
}

#historia:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.loja-2011 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    height: 100%; /* Ajuste conforme necessário */
    width: 100%; /* Ajuste conforme necessário */  
    padding: 5px;
}

.loja-2011 img{
    max-width: 100%; /* Redimensiona a imagem para caber dentro do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    
}

form {
    background-color: #dddddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    max-height: 450px;
}

form button[type="submit"] {
    background-color: #2a7a4b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #255e3b;
}
